body {
    margin: 0;
    padding: 0;
    font-family: "Courier New";
    background: linear-gradient(90deg,  #750066,#000504, #156380);
    background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

button{
    cursor: pointer;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}